<!--
/*
* AUTHOR: wyp
* EMAIL: 1140664142@qq.com
* CREATE TIME: 2015.1.28
*/
-->

<!--首页-->
<ionic-view>
    <!-- header -->
    <ionic-content class="no-header">
        <div class="bar bar-header bar-blue">
            <img src="app/static/image/logo.png" class="width35px box-sizing-content-box" />
            <h2 class="title">健康云空间</h2>
        </div>
    </ionic-content>

    <!-- content -->
    <div id="homepage_flux">
    </div>

    <ul class="row homepage_row">
        <li class="col homepage_col" ui-sref="userPaper">
            <div id="homepage_col_1"></div>
            我的病历
        </li>
        <li class="col homepage_col" ui-sref="newHealthManage">
            <div id="homepage_col_2"></div>
            健康管理
        </li>
        <li class="col homepage_col" ui-sref="healthManage">
            <div id="homepage_col_3"></div>
            健康监测
        </li>
    </ul>

    <ul class="row homepage_row">
        <li class="col homepage_col" ui-sref="healthEva">
            <div id="homepage_col_4"></div>
            健康评估
        </li>
        <li class="col homepage_col">
            <div id="homepage_col_5" ui-sref="userInsurance"></div>
            我的保险
        </li>
        <li class="col homepage_col" ui-sref="userMenu">
            <div id="homepage_col_6"></div>
            数字资产
        </li>
    </ul>

    <!-- footer tabs -->
    <div class="tabs tabs-icon-top">
        <a class="tab-item" ui-sref="userFavorite({target: 'doctor'})">
            <i class="icon ion-ios7-people-outline"></i>
            我的医生
        </a>
        <a class="tab-item" ui-sref="userFavorite({target: 'hospital'})">
            <i class="icon ion-ios7-location-outline"></i>
            我的医院
        </a>
        <a class="tab-item">
            <i class="icon ion-ios7-medkit-outline"></i>
            我的幸福
        </a>
    </div>
</ionic-view>