<div id="userPaperDetailBody">
    
    <div ng-include="'app/views/top.html'"></div>

    <section>

	    <div class="row">
	    	<div class="col col-25">医院:</div>
	    	<div class="col col-75">{{userPaper.hospital}}</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">病历编号:</div>
	    	<div class="col col-75">{{userPaper.paperID}}</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">患者ID:</div>
	    	<div class="col col-75">123</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">患者姓名:</div>
	    	<div class="col col-75">李小明</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">性别:</div>
	    	<div class="col col-75">男</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">年龄:</div>
	    	<div class="col col-75">35</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">医生ID:</div>
	    	<div class="col col-75">{{userPaper.doctorID}}</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">医生姓名:</div>
	    	<div class="col col-75">{{userPaper.doctor}}</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">科室:</div>
	    	<div class="col col-75">{{userPaper.room}}</div>
	    </div>

	    <div class="row">
	    	<div class="col col-25">生成时间:</div>
	    	<div class="col col-75">{{userPaper.date}}</div>
	    </div>

	    <div class="card">
	    	<div class="item item-divider">
	    		发热：
	    	</div>
	    	<div class="item item-text-wrap">
	    		低热：37.3-38度  体温上升期：骤升型
	    	</div>
	    	<div class="item item-divider">
	    		皮肤黏膜出血：
	    	</div>
	    	<div class="item item-text-wrap">
	    		血管壁功能异常
	    	</div>
	    	<div class="item item-divider">
	    		腹痛：
	    	</div>
	    	<div class="item item-text-wrap">
	    		急性腹痛 腹腔器官急性炎症
	    	</div>
	    	<div class="item item-divider">
	    		过敏（不良反应）：
	    	</div>
	    	<div class="item item-text-wrap">
	    		打喷嚏 咳嗽
	    	</div>
	    	<div class="item item-divider">
	    		一般状态：
	    	</div>
	    	<div class="item item-text-wrap">
	    		身长（cm）：175  体重（kg）：65
	    	</div>
	    </div>

    </section>

</div>